<p>learning-plan works!</p>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">學習目標</th>
        <th scope="col">課程內容</th>
        <th scope="col">使用技術</th>
        <th scope="col">參考網頁</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Angular</td>
        <td>golang</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Angular牙起來 - ng與node_module包的關係</td>
        <td>Go 快 Go 高效: 從基礎語法到現代Web應用開發</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Angular</td>
        <td>golang</td>
      </tr>
      <tr>
        <th scope="row">４</th>
        <td>https://ithelp.ithome.com.tw/m/articles/10292161</td>
        <td>https://ithelp.ithome.com.tw/users/20161850/ironman/7355</td>
      </tr>
    </tbody>
  </table>
  