<div class="container-fluid vh-100">
  <div class="row align-items-start h-100 g-3"> <!-- 確保區塊間有合理間距 -->

    <!-- 左側：輸入表單 + 可編輯資料 -->
    <div class="col-xxl-6 d-flex flex-column h-100 left" style="min-width: 50vw;">
      
      <!-- 左上：輸入表單 -->
      <div class="flex-grow-1">
        <app-enter-data (formSubmitted)="onFormSubmitted($event)"></app-enter-data>
      </div>

      <!-- 左下：可編輯資料 -->
      <div class="flex-grow-1 d-flex flex-column overflow-hidden">
        <ng-container *ngIf="submittedData$ | async as submittedData">
          <app-data-edit 
            [submittedData]="submittedData"
            class="flex-grow-1 d-flex flex-column"
            (editRequest)="editForm($event.index, $event.updatedData)"
            (deleteRequest)="deleteForm($event)">
          </app-data-edit>
        </ng-container>
      </div>
      
    </div>    

    <!-- 右側：資料總表 -->
    <div class="col-xxl-6 d-flex flex-column h-100" style="min-width: 50vw;">
      <ng-container *ngIf="submittedData$ | async as dataList">
        <app-data-list 
          [dataList]="dataList"
          class="flex-grow-1 d-flex flex-column">
        </app-data-list>
      </ng-container>
    </div>

  </div>
</div>
